@keyframes animation-loader {
    0%{
        transform: rotate(0deg);
    }
    90%{ 
        transform: rotate(360deg)

    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


@keyframes apparition {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} 

@keyframes disparition {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
} 

