@import 'variable.css' ;
@import 'mixins.css' ;

/********Variable********/ 
$primary-color: #9356dc;
$secondary-color: #FF79DA;
$tertiary-color: #99e2d0;
$quertary-color: #008766;
$main-color: #ffffff;
$main-secondary-color: #eaeaea;
$main-tertiary-color: #353535;


h1 {
    font-size: 24px;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 18px;
    font-family: Roboto;
    font-weight: lighter;
    text-align: center;
}

h3{
    font-family: Roboto;
}

h4 {
    font-family: roboto;
}

body {
    margin: 0;
}

main {
    background-color: $main-color;
    font-family: Roboto;
}
/********Variable********/ 
$primary-color: #9356dc;
$secondary-color: #FF79DA;
$tertiary-color: #99e2d0;
$quertary-color: #008766;
$main-color: #ffffff;
$main-secondary-color: #eaeaea;
$main-tertiary-color: #353535;


@mixin button-color {
    width: 186px;
    height: 50px;
    background: linear-gradient($primary-color, $secondary-color);
    border-radius: 30px;
    text-decoration: none;
    filter: drop-shadow(0 4px 4px #00000043);
}

@mixin button-text {
    color: $main-color;
    font-size: 16px;
    font-weight: normal;
}

/********HEADER********/
header {
    width: 100%;
    height: 63px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 10px;


    & .back-button {
        color: $main-tertiary-color;
        text-decoration: none;
        margin-left: 15px;
    }

    & .logo-header {
        display: flex;
        margin:auto
        
    }
}
/********Menu********/

section {
    min-height: 100vh;
    
    
    

    & img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }


    & .menu {
        background-color: $main-color;
        position: relative;
        top: -100px;
        left: 0;
        width: 100%;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        gap: 40px;

        & .card-informations {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 25px 0 15px;

            & .informations-text {
                display: flex;
                flex-direction: column;

                & h1 {
                    font-size: 28px;
                    font-family: Shrikhand;
                    margin: 0;
                }
            }

            & .informations-icon {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        & .card-menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 15px;
            gap: 12px;
            margin-top: 40px;

            & h2 {
                text-align: left;
                font-size: 16px;
                font-weight: lighter;
                text-decoration: underline $tertiary-color 4px;
            }

            & h3 {
                font-size: 18px;
                font-weight: normal;
                margin: 0;
            }

            & .card-plats {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: $main-color;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.199);
                border-radius: 20px;
                width: 349px;
                align-items: center;
                height: 69px;

                & .card-descriptif {
                    display: flex;
                    flex-direction: column;
                    margin-left: 15px;

                    & h4 {
                        font-size: 15px;
                        font-weight: lighter;
                        margin: 0;
                    }
                }

                & .card-price {
                    display: flex;
                    align-self:flex-end;
                    margin-right: 15px;
                    margin-bottom: 14px
                }
            }
        }
    }

    & .CTA {
        display: flex;
        justify-content: center;
        margin-bottom:  20px;


      & .button-color {
        margin: 20px;
        @include button-color()
        }

        & .button-text {
        @include button-text()
        }  
    }
    
}

/********FOOTER********/

footer {
    background-color: $main-tertiary-color;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;

    & .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-top: 20px;

        & a {
            text-decoration: none;
            color: $main-color;
        }

        & i {
            color: $main-color;
        }
    }
}