@import 'variable.scss' ;
@import 'mixin.scss' ;

/********HEADER********/
header {
    width: 100%;
    height: 63px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 10px;


    & .back-button {
        color: $main-tertiary-color;
        text-decoration: none;
        margin-left: 15px;
    }

    & .logo-header {
        display: flex;
        margin:auto
        
    }
}
/********Menu********/

section {
    min-height: 100vh;

    & img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    & .menu {
        background-color: $main-secondary-color;
        position: relative;
        top: -100px;
        left: 0;
        width: 100%;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        gap: 40px;

        & .card-informations {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 25px 0 15px;
            transition: background 2s ease; 
        
            & .informations-text {
                display: flex;
                flex-direction: column;
        
                & h1 {
                    font-size: 28px;
                    font-family: Shrikhand;
                    margin: 0;
                }
            }
        
            & .informations-icon {
                display: flex;
                flex-direction: column;
                justify-content: center;

                &.heart-not {
                    display: flex;
                }
        
                &.heart-active {
                    display: none;
                    transform: scale(0.1);
                    transition: transform 5s ease-in-out;
                }
        
            &:hover,
            &:active {
                .heart-not {
                    display: none;
                }
                
                .heart-active {
                    display: flex;
                    transform: scale(1);
                }
            }
        }
    }


        & .card-menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 15px;
            gap: 12px;
            margin-top: 40px;

            & h2 {
                text-align: left;
                font-size: 16px;
                font-weight: lighter;
                text-decoration: underline $tertiary-color 4px;
            }

            & h3 {
                font-size: 18px;
                font-weight: normal;
                margin: 0;
            }

            & .card-plats {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: $main-color;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.199);
                border-radius: 20px;
                width: 349px;
                align-items: center;
                height: 69px;

                & .plat-informations {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 100%
                }                
            
                & .card-descriptif {
                    display: flex;
                    flex-direction: column;
                    margin-left: 15px;
            
                    & h4 {
                        font-size: 15px;
                        font-weight: lighter;
                        margin: 0;
                    }
                }
            
                & .card-price {
                    display: flex;
                    height: 100%;
                    flex-direction: row;
                    align-items: end;
                    margin-right: 15px;
                    margin-bottom: 25px;
                }
            
                & .check-animation {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    height: 69px;
                    width: 59px;
                    background-color: $tertiary-color;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    opacity: 0; 
                    visibility: hidden; 
                    display: none;
                    transition: opacity 2000ms ease-in-out, visibility 2000ms ease-in-out;

                }
            
                &:hover .check-animation {
                    opacity: 1; 
                    visibility: visible;
                    display: flex; 
                    
                }
            }
        }
            
    }
    & .CTA {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        & .btn {
            margin: 20px;
           @include button-color();
            
            & .btn__text {
            @include button-text();
            }
        }
    }
}
/********FOOTER********/

footer {
    background-color: $main-tertiary-color;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;

    & .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-top: 20px;

        & a {
            text-decoration: none;
            color: $main-color;
        }

        & i {
            color: $main-color;
        }
    }
}


/********Responsive********/
@media (min-width: 500px) {

/********Menu********/
section {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .card-informations {
        gap: 20px;
    }

    & .menu {
    width: 1055px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        & .card-menu {
            margin-top: 0;

            & .card-plats{
                width: 634px;
                
            }
        }
    }
}
/********FOOTER********/

    footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    padding: 30px 50px 20px 25px;

    gap: 60px;

        & .footer-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        margin-top: 20px;
        }
    }
}  