@import 'variable.css' ;

@mixin button-color {
    width: 186px;
    height: 50px;
    background: linear-gradient($secondary-color, $primary-color);
    border-radius: 30px;
    filter: drop-shadow(0 4px 4px #00000043); 
    position: relative;
    z-index: 1;

    &:hover{
        &.btn__bg {
            opacity:1;
        }
        
    } 
}

@mixin button-text {
    color: $main-color;
    font-size: 16px;
    font-weight: normal;
}

@mixin btn__bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: red;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
}
