@import 'variable.css' ;

@mixin button-color {
    width: 200px;
    height: 45px;
    background: linear-gradient($secondary-color, $primary-color);
    border-radius: 30px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.26); 
    border: none;

    &:hover {
        filter: brightness(1.10); 
        box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.26);
        }
        .btn__text {
            color: lighten($main-color, 30%);
        }
}

@mixin button-text {
    color: $main-color;
    font-size: 16px;
    font-weight: normal;
    display: inline;
    justify-content: center;
}

@mixin heart-animation {

    
    .heart-empty {
        transition: opacity 450ms ease-in;
        opacity: 1; 
    }

    .heart-full {
        position: absolute;
        transition: opacity 400ms ease-in, transform 400ms ease-in;
        background: linear-gradient($secondary-color, $primary-color);
        color: #000;
        opacity: 0; 
        transform: scale(0); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:hover,
    &:active {
        .heart-full {
            opacity: 1; 
            transform: scale(1); 
        }
        .heart-empty {
            opacity: 0; 
        }
    }
}

