/********Variable********/
@import 'variable.css';
@import 'keyframes.css';
h1 {
  font-size: 24px;
  font-family: Roboto;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 18px;
  font-family: Roboto;
  font-weight: lighter;
  text-align: center;
}

h3 {
  font-family: Roboto;
}

h4 {
  font-family: Roboto;
}

body {
  margin: 0;
  font-family: Roboto;
  min-width: 360px max-width 1900px;
}

main {
  background-color: #ffffff;
  font-family: Roboto;
}

/********LOADER********/
.loader {
  background-color: #353535;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: loader 3s linear forwards;
  opacity: 0;
  visibility: hidden;
}
.loader .--logo {
  margin: 80px 0;
  width: 250px;
}
.loader .loader--icon {
  color: #ffffff;
  animation: animation-loader 3s linear infinite;
  margin-bottom: 50px;
}
.loader .loader--text {
  color: #ffffff;
  position: relative;
  margin-bottom: 80px;
}
.loader .loader--text h1 {
  font-weight: 300;
  font-size: 30px;
}
.loader .loader--text .text--1 {
  opacity: 0;
  animation: disparition 1500ms ease-in-out;
}
.loader .loader--text .text--2 {
  opacity: 0;
  animation: apparition 1000ms 1500ms ease-in-out forwards;
  position: relative;
  bottom: 75px;
  font-size: 45px;
}

/********HEADER********/
header {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

/********Localisation********/
.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.831372549);
  background-color: #eaeaea;
}

/********Exploration********/
.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding: 20px 15px 40px 15px;
}
.exploration h1 {
  margin-bottom: 0;
}
.exploration .btn {
  margin-top: 15px;
  width: 200px;
  height: 45px;
  background: linear-gradient(#FF79DA, #9356dc);
  border-radius: 30px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.26);
  border: none;
}
.exploration .btn:hover, .exploration .btn:active {
  filter: brightness(1.1);
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.26);
}
.exploration .btn .btn__text {
  color: white;
}
.exploration .btn .btn__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  display: inline;
  justify-content: center;
}

/********Fonctionnement********/
.fonctionnement {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 30px 15px 40px 15px;
}
.fonctionnement .etape-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.fonctionnement .etape-cards .etape {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.fonctionnement .etape-cards .etape:hover i {
  color: #9356dc;
}
.fonctionnement .etape-cards .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  background-color: #9356dc;
  border-radius: 50%;
  padding: 6px;
  color: #ffffff;
  position: relative;
  top: 0px;
  left: -10px;
}
.fonctionnement i {
  color: grey;
  margin-right: 15px;
}

.fonctionnement > h1 {
  text-align: start;
}

.etape > h3 {
  font-size: 16px;
  font-weight: normal;
}

/********RESTAURANT********/
.restaurant {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 20px 15px 50px 15px;
}
.restaurant .restaurant-informations {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.restaurant .restaurant-informations a {
  text-decoration: none;
  color: #353535;
}
.restaurant .restaurant-informations .restaurant-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 251px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  text-decoration: none;
}
.restaurant .restaurant-informations .restaurant-card img {
  width: 100%;
  object-fit: cover;
  height: 180px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant .restaurant-informations .restaurant-card .restaurant-nouveau {
  background-color: #99e2d0;
  color: #008766;
  display: flex;
  width: 80px;
  height: 29px;
  position: absolute;
  top: 10px;
  right: 10px;
  justify-content: center;
  align-items: center;
}
.restaurant .restaurant-informations .restaurant-card .restaurant-nouveau h3 {
  font-size: 14px;
  font-weight: 600;
}
.restaurant .restaurant-informations .restaurant-card .card-informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px 0 10px;
}
.restaurant .restaurant-informations .restaurant-card .card-informations .informations-text {
  display: flex;
  flex-direction: column;
}
.restaurant .restaurant-informations .restaurant-card .card-informations .informations-text h3 {
  font-size: 17px;
  font-weight: lighter;
  margin-top: 0;
}
.restaurant .restaurant-informations .restaurant-card .card-informations .informations-text h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.informations-icon .heart-empty {
  transition: opacity 450ms ease-in;
  opacity: 1;
}
.informations-icon .heart-full {
  position: absolute;
  transition: opacity 400ms ease-in, transform 400ms ease-in;
  background: linear-gradient(#FF79DA, #9356dc);
  color: #000;
  opacity: 0;
  transform: scale(0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.informations-icon:hover .heart-full, .informations-icon:active .heart-full {
  opacity: 1;
  transform: scale(1);
}
.informations-icon:hover .heart-empty, .informations-icon:active .heart-empty {
  opacity: 0;
}
.informations-icon i {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  bottom: 25px;
  right: 25px;
  font-size: 24px;
}

.restaurant > h1 {
  text-align: start;
}

/********FOOTER********/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px 15px 20px 15px;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 20px;
}
footer .footer-nav a {
  text-decoration: none;
  color: #ffffff;
}
footer .footer-nav i {
  color: #ffffff;
}

/********Responsive********/
@media (min-width: 1024px) {
  /********Localisation********/
  .localisation {
    margin-bottom: 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.831372549);
  }
  /********Exploration********/
  .exploration h1 {
    font-size: 40px;
    font-weight: bold;
  }
  /********FONCTIONNEMENT********/
  .fonctionnement {
    margin: 50px 180px 50px 180px;
  }
  .fonctionnement .etape-cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 95%;
  }
  /********RESTAURANT********/
  .restaurant {
    padding: 20px 180px 50px 180px;
  }
  .restaurant .restaurant-informations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .restaurant .restaurant-informations .restaurant-card {
    width: 45%;
    margin-bottom: 3%;
    margin-right: 3%;
  }
  /********FOOTER********/
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    padding: 30px 50px 20px 25px;
    gap: 60px;
  }
  footer .footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
  }
}/*# sourceMappingURL=home.css.map */