/********Variable********/
@import 'variable.css';
h1 {
  font-size: 24px;
  font-family: Roboto;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 18px;
  font-family: Roboto;
  font-weight: lighter;
  text-align: center;
}

h3 {
  font-family: Roboto;
}

h4 {
  font-family: Roboto;
}

body {
  margin: 0;
  font-family: Roboto;
}

main {
  background-color: #ffffff;
  font-family: Roboto;
}

/********HEADER********/
header {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
header .back-button {
  color: #353535;
  text-decoration: none;
  margin-left: 15px;
}
header .logo-header {
  display: flex;
  margin: auto;
}

/********Menu********/
section img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
section .menu {
  background-color: #eaeaea;
  position: relative;
  top: -100px;
  left: 0;
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  gap: 40px;
  margin-bottom: -100px;
}
section .menu .card-informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 25px 0 15px;
  transition: background 2s ease;
}
section .menu .card-informations .informations-text {
  display: flex;
  flex-direction: column;
}
section .menu .card-informations .informations-text h1 {
  font-size: 28px;
  font-family: Shrikhand;
  margin: 0;
}
section .menu .card-informations .informations-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section .menu .card-informations .informations-icon.heart-not {
  display: flex;
}
section .menu .card-informations .informations-icon.heart-active {
  display: none;
  transform: scale(0.1);
  transition: transform 5s ease-in-out;
}
section .menu .card-informations .informations-icon:hover .heart-not, section .menu .card-informations .informations-icon:active .heart-not {
  display: none;
}
section .menu .card-informations .informations-icon:hover .heart-active, section .menu .card-informations .informations-icon:active .heart-active {
  display: flex;
  transform: scale(1);
}
section .menu .card-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px;
  gap: 12px;
  margin-top: 40px;
  opacity: 0;
  animation: apparition 5s ease-out forwards;
  animation-delay: 0s;
}
section .menu .card-menu h2 {
  text-align: left;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 5px;
}
section .menu .card-menu .underline-title {
  width: 40px;
  border-bottom: solid #99e2d0 5px;
  display: block;
}
section .menu .card-menu h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
section .menu .card-menu .card-plats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.199);
  border-radius: 20px;
  width: 349px;
  align-items: center;
  height: 69px;
  position: relative;
  overflow: hidden;
}
section .menu .card-menu .card-plats .plat-informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
section .menu .card-menu .card-plats .card-descriptif {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
section .menu .card-menu .card-plats .card-descriptif h4 {
  font-size: 15px;
  font-weight: lighter;
  margin: 0;
}
section .menu .card-menu .card-plats .card-price {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: end;
  margin-right: 15px;
  margin-bottom: 25px;
  transform: translateX(59px);
  transition: transform 150ms ease-in-out;
}
section .menu .card-menu .card-plats .check-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 69px;
  width: 59px;
  background-color: #99e2d0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  visibility: hidden;
  transform: translateX(100%);
  transition: visibility 150ms ease-in-out, transform 150ms ease-in-out;
}
section .menu .card-menu .card-plats:hover .check-animation {
  visibility: visible;
  transform: translateX(0);
}
section .menu .card-menu .card-plats:hover .card-price {
  transform: translateX(0);
}
section .CTA {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
section .CTA .btn {
  margin: 20px;
  width: 200px;
  height: 45px;
  background: linear-gradient(#FF79DA, #9356dc);
  border-radius: 30px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.26);
  border: none;
}
section .CTA .btn:hover {
  filter: brightness(1.1);
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.26);
}
section .CTA .btn .btn__text {
  color: white;
}
section .CTA .btn .btn__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  display: inline;
  justify-content: center;
}

/********FOOTER********/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 20px;
}
footer .footer-nav a {
  text-decoration: none;
  color: #ffffff;
}
footer .footer-nav i {
  color: #ffffff;
}

/********Responsive********/
@media (min-width: 500px) {
  /********Menu********/
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .card-informations {
    gap: 20px;
  }
  section .menu {
    width: 1055px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section .menu .card-menu {
    margin-top: 0;
  }
  section .menu .card-menu .card-plats {
    width: 634px;
  }
  /********FOOTER********/
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    padding: 30px 50px 20px 25px;
    gap: 60px;
  }
  footer .footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
  }
}/*# sourceMappingURL=menu.css.map */