/********Variable********/
h1 {
  font-size: 24px;
  font-family: Roboto;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 18px;
  font-family: Roboto;
  font-weight: lighter;
  text-align: center;
}

body {
  margin: 0;
}

main {
  background-color: #ffffff;
  font-family: Roboto;
}

/********HEADER********/
header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

/********Localisation********/
.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  box-shadow: 0 5px 15px black;
  background-color: #eaeaea;
}

/********Exploration********/
.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;
  padding: 30px 0 30px 0;
}

.button-color {
  width: 186px;
  height: 50px;
  background: linear-gradient(#9356dc, #FF79DA);
  border-radius: 30px;
  text-decoration: none;
  filter: drop-shadow(0 4px 4px #000000);
}

.button-color > .button-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}

/********Fonctionnement********/
.fonctionnement {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 30px 15px 30px 15px;
}
.fonctionnement .etape-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.fonctionnement .etape-cards .etape {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 20px;
  box-shadow: 0 4px 15px black; /*15% color*/
  gap: 15px;
  align-items: center;
}
.fonctionnement .etape-cards .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  background-color: #9356dc;
  border-radius: 50%;
  padding: 6px;
  color: #ffffff;
}
.fonctionnement .etape {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 20px;
  box-shadow: 0 4px 15px black; /*15% color*/
  gap: 15px;
  align-items: center;
}
.fonctionnement .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  background-color: #9356dc;
  border-radius: 50%;
  padding: 6px;
  color: #ffffff;
}
.fonctionnement i {
  color: grey;
}

.fonctionnement > h1 {
  text-align: start;
}

.etape > h3 {
  font-size: 16px;
  font-weight: normal;
}

/********RESTAURANT********/
.restaurant {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 20px 15px 30px 15px;
}
.restaurant .restaurant-informations {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.restaurant .restaurant-informations .restaurant-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 251px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px black; /*25% color*/
}
.restaurant .restaurant-informations .restaurant-card img {
  object-fit: cover;
  height: 175px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant .restaurant-informations .restaurant-card .card-informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px 0 10px;
}
.restaurant .restaurant-informations .restaurant-card .card-informations .informations-text {
  display: flex;
  flex-direction: column;
}
.restaurant .restaurant-informations .restaurant-card .card-informations .informations-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.restaurant > h1 {
  text-align: start;
}

.restaurant h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.restaurant h3 {
  font-size: 17px;
  font-weight: lighter;
  margin-top: 0;
}

/********FOOTER********/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px 15px 20px 15px;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 20px;
}
footer .footer-nav a {
  text-decoration: none;
  color: #ffffff;
}
footer .footer-nav i {
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */